@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans&family=Rubik&display=swap');
@import "compass/css3";
:root {
    --purple: #7b1fa2 ;
    --violet: #673ab7;
    --pink: #f48fb1;

    
    --princ_violet: rgb(143, 0, 255);
    --princ_white: #FAFAFA;
    --princ_grey: #535353;

    --grey1: #100F10;
    --grey2: #  ;
    --grey3: #242424;

    --color_bgd: rgb(15, 15, 15);
    
    --fonte_titulo: "Rubik", sans-serif;
    --fonte_chique: 'Montserrat', sans-serif;
    --fonte_padrao: "Open Sans", sans-serif;

    --font_size_titulo: 4em;


    --g1: #4e00ea;
    --g2: #ec40b5;

    --g3: #29007a;
    --g4: #80135d;


    --nodeStreak: #80135d;
    --computationalFogTop: #29007a;
    --computationalFogBot: #29007a;
    --visualDistortionZapper: 360px;
    --nanoVelocity: 2s;

}

/**/

  
  @keyframes anim-popoutin {
    0% {
      
      transform: scale(1);
      opacity: 1;
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    }
    25% {
      color: rgb(237, 163, 255);
      transform: scale(1.4);
      opacity: 1;
      text-shadow: 3px 4px 10px rgba(255, 255, 255, 0.5);
    }
    50% {
      
      transform: scale(1);
      opacity: 1;
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    }
    100% {
      /* animate nothing to add pause at the end of animation */
      
    }
  }



  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }


/**/

@keyframes shine{
    0%{
      background-position: 10px}
    60%{
      background-position: 180px}
    100%{
      background-position: 320px}
  }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 200% center;
    }
}
@keyframes rotate {
    from {
        rotate: 0deg;

    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

@-webkit-keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
  
  @keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-180deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(800px, 200px) rotate(40deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: var(--grey1);
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--princ_white);
}

.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(
      to right,
      var(--pink) 31.77%,
      var(--violet) 86%,
      var(--purple) 100%
    );
    mix-blend-mode: color-dodge;
    -webkit-animation: move 25s infinite alternate;
            animation: move 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    opacity: 0.8;
    filter: blur(10px);
  }


.magic {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    letter-spacing: 1px;
}



.glass {
    padding: 20px;
    background: linear-gradient(165deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.quote > h2 {
    font-style: italic;
    
}
.quote > h3 {
    text-align: end;
    font-size: 1em;
    transform: translateX(-25px);
}


/*blob animation*/
.flip {
    transform: rotate(180deg);
}
.blob-motion {
    position: absolute;
    z-index: -1;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
    opacity: 0.6;
    box-shadow: 0 0 8px rgba(238, 130, 238, 0.269);
  }



/*#blob {
    background-color: white;
    height: 300px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;

    background: linear-gradient(
        to right,
        aquamarine,
        var(--purple)
    );
    animation: rotate 20s infinite;

}*/


/* TRON BACKGROUND */
.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    perspective: var(--visualDistortionZapper);
    perspective-origin: 50% 50%;  

    z-index: 0;
  }
  
.top-plane {
    width: 200%;
    height: 130%;
    position: absolute;
    bottom: -40%;
    left: -40%;
    background-image: -webkit-linear-gradient(var(--nodeStreak) 2px, transparent 2px), -webkit-linear-gradient(left, var(--nodeStreak) 2px, transparent 2px);
    background-size: 100px 100px,100px 100px;
    background-position: -1px -1px,-1px -1px;
    transform: rotateX(85deg);
    animation: planeMoveTop var(--nanoVelocity) infinite linear;

    z-index: 0;
}
  
.bottom-plane {
    width: 200%;
    height: 130%;
    position: absolute;
    bottom: -40%;
    left: -20%;
    background-image: -webkit-linear-gradient(var(--nodeStreak) 2px, transparent 2px), -webkit-linear-gradient(left, var(--nodeStreak) 2px, transparent 2px);
    background-size: 100px 100px,100px 100px;
    background-position: -1px -1px,-1px -1px;


    transform: rotateX(-85deg);
    top: -30%;
    animation: planeMoveBot var(--nanoVelocity) infinite linear;

    z-index: 0;
}
  
  @keyframes planeMoveTop {
    from {
      background-position: 0px -100px,0px 0px;
    }
    to {
      background-position: 0px 0px, 100px 0px;
    }
  }
  
  @keyframes planeMoveBot {
    from {
      background-position: 0px 0px,0px 0px;
    }
    to {
      background-position: 0px -100px, 100px 0px;
    }
  }
  
  @media (max-height: 350px) {
    .wrap {
      perspective: var(--visualDistortionZapper) - 150;
    }
  }
  

body {
    background-color: var(--color_bgd);
    display: grid;
    height: auto;
    width: auto;
    margin: 0;
    overflow-x: hidden;
    place-items: center;
    cursor: none;
    padding: 0;


    /*animation: background-pan 9999s linear infinite;
    background: linear-gradient(
        to right,
        var(--g3),
        var(--g4),
        var(--g3)
    );
    background-size: 150%;*/

    background: linear-gradient(var(--computationalFogTop) 25%, var(--nodeStreak) 50%, var(--nodeStreak) 50%, var(--computationalFogBot) 100%);

    height: 100vh;
    
    
    margin: 0px;

    
}

/* AREA ESCONDIDA */

.btn_shine{
  
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 30%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
  font-family: var(--fonte_chique);
  font-size: 2em;
}


.escondido h1 {
    color: var(--princ_white);
    opacity: 0.8;
    z-index: 1;
}





.intro_box {
    margin-top: 150px;
    width: 600px;
    height: 300px;
    padding-bottom: 30px;
    z-index: 10;

}

.img {
    width: 500px;
    height: 375px;
    border-radius: 10%;
    border: 1px solid var(--grey1);
    visibility: visible;
    opacity: 1;
    justify-content: center;
    text-align: center;
    object-fit: cover;

    
}

/* TILES */




body.toggled {
  animation: none;
}

body.toggled > #title {
  opacity: 0;
  
}


body.toggled > header > #icon {
  opacity: 1;
}




#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: absolute;
  z-index: 2;
  
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  cursor: none;
  position: relative;
  z-index: 2;
}



.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0px;
  position: absolute;
  z-index: 2;
}

#title {
  color: white;
  margin: 0px;
  pointer-events: none;
  transition: opacity 1200ms ease;
  z-index: 3;
}

#title > .fancy {
  color: var(--g2);
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  line-height: 0.9em;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

#icon {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1200ms ease;
    z-index: 1;
  }






header {
    transform: translateY(-15%);
    height: 100vh;
    
    
    
}

header h1, h2, h3 {
    color: var(--princ_white);
    font-family: var(--fonte_titulo);
    font-weight: 400;
    margin: 0px;
}

header h1 {
    font-size: var(--font_size_titulo);
    text-align: center;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    /*animation: 5s anim-popoutin ease infinite;*/
    transition: 0.3s all ease-in-out;
}
header h1:hover {
    text-shadow: 0 0 14px rgba(255, 255, 255, 0.5);

    transition: 0.3s all ease-in-out;
}

header h2 {
    font-family: var(--fonte_chique);
    font-size: clamp(1.8em, 2vh, 4em);
    padding: 0px;
    text-align: center;
    
}


.roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #1D3557;
  }
  
  
#spare-time{
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 4px;
    margin-top: 0;
    color: var(--princ_white);
    text-shadow: 1px 1px 5px whitesmoke;

}
  
.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
}




/* SETA */
.arrow {
    color: rgba(140, 75, 206, 0.242);
    text-align: center;
    font-size: 5em;
    transform: translate(-10px, 2em);
    transform: translateY(-8.3em);
}



/* PAGINA PRINCIPAL*/
main {
    padding: 0 280px 0px 280px;
    min-height: 160vh;
    padding-bottom: 80px;
    z-index: 2;
}

#titulo_main_page {
    transform: translateX(-25px);
    
}

.main_page h1, .main_page h2 {
    font-size: 3.8em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main_page h2 {
    font-size: 1.6em;
    transform: translateY(-50%);
    margin: 15px;
}




/* DARK MODE */
.main_page {
    background-color: var(--color_bgd);
    
}
.main_page h1, .main_page h2 {
    color: var(--princ_white);
    text-shadow: 0.1px 0.1px 2px var(--grey3);
}
.main_page h2{
    font-family: var(--fonte_chique);
    color: var(--princ_grey);
    
}

.main_page p {
    color: var(--princ_white);
}


.main_page .social_media a {
    border: 1px solid var(--princ_white);
    color: var(--princ_white);
}
.main_page .social_media a:hover {
    background-color: rgba(255, 255, 255, 0.948);
    color: var(--pink);
}


/* SOBRE MIM */

.about {
    margin: 10px;
}
.about h1 {
    margin-top: 80px;
}
.about > p {
    
    font-size: 1.5em;
}

/* SOCIAL MEDIA*/

.social_media {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 3em; margin-bottom: 3em;
    gap: 8px;
    
}

.media{
    margin: 110px;

}

.social_media a{
    font-family: var(--fonte_chique);
    font-weight: 100;
    text-decoration: none;
    padding: 1rem 3rem;
    min-width: 3rem;
    font-size: 25px;
    font-weight: bold;

    transition: all 300ms ease-in-out;
    
}

.social_media a:hover {
    transform: scale(1.3);
    font-weight: bold;
    transition: all 500ms ease-in-out;
    }


/* PROJETOS */



#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    max-width: 1060px;
    width: calc(100% - 20px);
    margin: 0px;
    padding: 0;
    
}

#img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.9;
}

#cards:hover > .card > .card-border{
    opacity: 1;
    
}


.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    height: 250px;
    position: relative;
    width: 320px;
    filter: brightness(30%);
    transition: all 400ms ease-in-out;
    transform-style: preserve-3d;
    
}




.card:hover::before{
    opacity: 1;
    
    
}

.card:active ~ {
    transition: all 0.5s ease-in-out;
}

.card::before,
.card > .card-border {
    
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(88, 42, 168, 0.26),
        transparent 40%
    );
    z-index: 3;
    
    
}
.card > .card-border {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(141, 86, 237, 0.3),
        transparent 40%
    );
    z-index: 1;
    
}


.card > .card-content {
    background-color: var(--grey2);
    border-radius: inherit;
    height: calc(100% - 2px);
    margin: 1px;
    position: absolute;
    width: calc(100% - 2px);
    z-index: 2;

    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    
}

.card:hover {
    filter: brightness(100%);
    
    transform: scale(1.6);
    z-index: 99;
    transition: all 400ms ease-in-out;
}

.card:hover .front_side {
    filter: blur(3px);

    transition: 0.5s all ease-in-out;
}
.card:hover .back_side {
    visibility: visible;

    transition: 0.5s all ease-in-out;
}


.front_side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: var(--pink);
    transition: all 200ms ease-in-out;
    z-index: 0;
}
.back_side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: var(--pink);
    visibility: hidden;
    transition: 0.1s all ease-in-out;
    
}

.back_side h1, p {
    text-align: center;
    margin: 6px;
    font-family: var(--fonte_padrao);
}
.back_side h1 {
    color: var(--princ_white);
    font-size: 3.4em;
}
.back_side p {
    color: var(--princ_white);
    font-size: 0.9em;
    padding: 10px;
    text-align: justify;


}  


footer {
    height: 5vh;
    width: 100%;
    
    bottom: 0;
    text-align: center;
    
    line-height: 40px;
    font-family: var(--fonte_chique);
    color: var(--princ_grey);
    
    opacity: 1;
    
    padding: 30px;
    background-color: var(--color_bgd);

    z-index: 2;
}


#rodape h1{
    font-weight: bold;
    font-size: 14px;
    width: auto;

    transition: 500ms all ease-in-out;
}


#rodape h1:hover {
    transform: scale(2);
    color: var(--g2);
    text-shadow: 1px 1px 5px var(--g4);

    transition: 500ms all ease-in-out;
}
